* {
    font-family: Roboto, sans-serif;
}

/* ### UTILITIES ### */

:root {
    --bg_primary-: #1b72e8;
    --bg_secondary-: #10283d;
    --bg-thirtary-: #f8f9fa;
    --bg-searchbar-: #eaeaea;
    --input_success-: #198754;
    --input_warning-: #FFC107;
    --input_danger-: #DC3545;
    --bell-: #ff8f00FF;

}

.col_100 {
    width: 100%;
}

/* ### MAIN STYLE SHEET ### */

main {
    display: flex;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 0.5rem 0;
    background-color: var(--bg-thirtary-);


    >.search{
        background-color: #fff;

        .searchbar{
            display: flex;
            gap: 1rem;
            width: 70%;
            background-color: var(--bg-searchbar-);
            padding: 0 0.5rem;

            input{
                border: none;
                width: 80%;
                background-color: transparent;
            }
        }        

        .logo-mobile{
            width: 50px;
        }
        .logo-desktop{
            display: none;
        }

    }
}

.sidebar {
    width: 70px;
    height: 100%;
    position: fixed;
    top: 70px;
    background-color: var(--bg_secondary-);
}


.data_container {
    position: relative;
    left: 70px;
    top: 70px;
}








/* ### DEBUG SECTION ### */
.debug * {
    border: 1px dashed black;
}

/* .debug header {
    background-color: grey;
    height: 70px
} */

.debug .data_container {
    background-color: skyblue;
    width: calc(100% - 70px);
    height: 100%;
}

.debug .main_header {
    background-color: var(--bg_primary-);
    height: 260px;
}

.debug .next_classes {
    background-color: gold;
    height: 520px;
}

.debug .faq {
    background-color: green;
    height: 250px;
}

.debug .todo {
    background-color: chocolate;
    height: 200px;
}

.debug .graph {
    background-color: seagreen;
    height: 570px;

}


@media screen and (min-width: 768px) {

    header {
        >.search{
            .searchbar{
                width: 80%;
            }
        }
    }
}




@media screen and (min-width: 1140px) {

    header{
        >.search{

            .logo-desktop{
                display: block;
                padding-top: 1rem;
            }

            
            & .logo-mobile{ 
                display: none;
            }
        }
    }

    .sidebar {
        width: 180px;
        position: static;
        height: calc(100vh - 70px);
    }
    header{
        position: static;
    }

    .data_container{
        position: static;
    }

    .data_container_central {
        display: flex;
        flex-wrap: wrap;

        >.left_row {
            width: calc((100% / 12) * 8);
        }

        >.right_row {
            width: calc((100% / 12) * 4);
        }
    }

}