* {
    font-family: Roboto, sans-serif;
}

/* ### UTILITIES ### */

:root {
    --bg_primary-: #1b72e8;
    --bg_secondary-: #10283d;
    --bg-thirtary-: #f8f9fa;
    --bg-searchbar-: #eaeaea;
    --input_success-: #198754;
    --input_warning-: #FFC107;
    --input_danger-: #DC3545;
    --bell-: #ff8f00FF;
    --bg-em-main_header-: #165BBA;
}

.col_100 {
    width: 100%;
}



/* ### MAIN STYLE SHEET ### */

main {
    display: flex;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 0.5rem 0;
    background-color: var(--bg-thirtary-);


    >.search{
        background-color: #fff;

        .searchbar{
            display: flex;
            gap: 1rem;
            width: 70%;
            background-color: var(--bg-searchbar-);
            padding: 0 0.5rem;

            input{
                border: none;
                width: 80%;
                background-color: transparent;
            }
        }        

        .logo-mobile{
            width: 50px;
            margin-left: -0.75rem;
        }
        .logo-desktop{
            display: none;
        }

    }
}

.sidebar {
    width: 70px;
    height: 100%;
    position: fixed;
    top: 78px;
    background-color: var(--bg_secondary-);

    nav{
        height: 93%;
        padding: 2rem 1.5rem;

        .sidebar_commands{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        span{
            padding-left: 0.75rem;
            display: none;
        }

        a{
            color: #fff;
            text-decoration: none;
        }

        .admin{
            color: white;
        }

    }
}


.data_container {
    position: relative;
    left: 70px;
    top: 79px;
    width: calc(100% - 70px);
    height: 100%;

    .main_header{
        color: #fff;
        background-color: var(--bg_primary-);

        & .boolean {
            font-size: 1.8rem;
        }

        .md_left, .md_middle, .md_right{
        ;    
        }

        .plus{
            border: 1px solid #fff;
        }

        .bg-emphasis{
            background-color: var(--bg-em-main_header-);
            border-radius: 20px;
        }
    }
}








/* ### DEBUG SECTION ### */
.debug * {
    /* border: 1px dashed black; */
}

/* .debug header {
    background-color: grey;
    height: 70px
} */

/* .debug .main_header {
    height: 260px;
} */

.debug .next_classes {
    background-color: gold;
    height: 520px;
}

.debug .faq {
    background-color: green;
    height: 250px;
}

.debug .todo {
    background-color: chocolate;
    height: 200px;
}

.debug .graph {
    background-color: seagreen;
    height: 570px;

}


@media screen and (min-width: 768px) {

    header {
        >.search{
            .searchbar{
                width: 80%;
            }
        }
    }

    .main_header{
        justify-content: center;

        .md_left, .md_middle{
            order: -1
        }
        
        .w-33{
            width: calc(100% / 3);
        }

        
    }


}




@media screen and (min-width: 1200px) {

    header{
        >.search{

            .logo-desktop{
                display: block;
                padding-top: 1rem;
            }

            
            & .logo-mobile{ 
                display: none;
            }
        }
    }

    .sidebar {
        width: 180px;
        position: static;
        height: calc(100vh - 70px);

        nav{
            height: 100%;

            a{
                display: flex;

            }

            span{
                display: block;
            }

        }
    }
    header{
        position: static;
    }

    .data_container{
        position: static;
    }

    .main_header{
        justify-content: space-between;
    }

    .data_container_central {
        display: flex;
        flex-wrap: wrap;

        >.left_row {
            width: calc((100% / 12) * 8);
        }

        >.right_row {
            width: calc((100% / 12) * 4);
        }
    }

}